.home_block_temp {
	background-image:url(/site_images/home_block_bg.jpg);
	background-repeat:no-repeat;
	width:460px;
	height:172px;
}

.home_block_temp h2 {
	font-size:18px;
	font-weight:bold;
	color:#000000;
	padding:3px 0px 0px 20px;
}

.header_block_content {
	padding:10px 20px 0px 20px;
	color:#DED8D4;
}


.col3_item {
	width:208px;
	margin:0px 0px 15px 0px;
}

.col3_heading {
	background-image:url(/site_images/right_col_head_bg.jpg);
	height:21px;
	width:198px;
	padding:4px 0px 0px 10px;
	font-size:17px;
	font-weight:bold;
	color:#000000;
}

.col3_content {
	background-color:#242320;
	border:1px solid #000000;
	padding:5px 10px 5px 10px;
	color:#DED8D4;
}