.calendar_listing {
	margin-left:-10px;
	position:relative;
}

.event_date_month {
	/* background-image:url(../site_images/event_month_bg.png);
	background-repeat:no-repeat; */
	background-image:url(/site_images/heading_background.jpg);
	border:1px solid #3C3C3C;
	color:#D9D5CB;
	width:500px;
	font-size:18px;
	padding:6px 0px 6px 16px;
	margin:0px 0px 8px 0px;
}

.event_thumb {
	float:left;
	display:inline;
	
}

.event_details {
	margin-left:10px;
	border-bottom: 1px solid #3C3C3C;
	padding-bottom:4px;
	
}

.event_category_title {
	font-size:18px;
}

.event_category_text {
	padding:5px;
}

a.event_title,a.event_title:link,a.event_title:visited {
	text-decoration:none;
	
}

/** BEGIN LIST VIEW **/

#calendar_month_listing {
	text-align:center;
	padding:4px;
	
}

#calendar_month_listing a,#calendar_month_listing a:link,#calendar_month_listing a:visited {
	text-decoration:none;
	font-weight:bold;
}


#caleventbox {
	padding:10px 0px 15px 0px;
	border-bottom:1px solid #E5D8ED;
	}

#caleventbox:hover {
	background-color:#F0E9F5;
}

#caleventbox em {
	font-size:11px;
}

.calevent_short_details {
	width:400px;
	float:left;
	display:inline;
}

a.calevent_list_title,a.calevent_list_title:link,a.calevent_list_title:visited {
	text-decoration:none;
}

.calevent_list_desc {
	padding:4px 4px 0px 4px;
}

.cal_alt_color {
	background-color:#E8DEED;
}

a.calevent_list_more,a.calevent_list_more:link,a.calevent_list_more:visited {
	text-decoration:none;
	font-size:11px;
	font-weight:bold;
}

a.calevent_list_more:hover {
	text-decoration:underline;
}

.caleventbox_links {
	margin:4px 0px 4px 0px;
	font-size:11px;
}

.caleventbox_links a,.caleventbox_links a:link,.caleventbox_links a:vistited {
	
}

.cal_month_selected {
	background-color:#810101;
}
/** END LIST VIEW **/