.sortable 
{ 
	list-style-type: none; 
	margin: 0; 
	padding: 0;
	width: 100%;
	margin-bottom:50px;
	
	li 
	{
		.rounded(5px);
		#gradient > .vertical(lighten(rgb(249, 238, 218), 5%), darken(rgb(249, 238, 218), 2%));
		border:1px solid darken(rgb(249, 238, 218), 2%);
		color:#3e3f53;
		margin: 5px;
		padding: 5px;
	}
}

.sort_result 
{
	display:none;
}