.sortable {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  margin-bottom: 50px;
}
.sortable li {
  color: #3e3f53;
  margin: 5px;
  padding: 5px;
  font-size: 1em;
}
.sort_result {
  display: none;
}
