/* Reset */

ul,ol,dl,li,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,body,html,p,blockquote,fieldset,input,object,iframe { margin: 0; padding: 0; }
a img,:link img,:visited img { border: none; }
table { border-collapse: collapse; border-spacing: 0; }
:focus { outline: none; }

/* Structure */

body {
	margin: 0;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
	color: #555;	
}


.aside {
	width: 100%;
	display: block;
	height:98%;
}

/* Typography */
	
h2, h3, h4 {
	margin: 0;
	padding: 0 0 5px 0;
	font-size: 12px;
	font-weight: bold;
	color: #333;	
}
	
h2 {
	font-size: 14px;
	color: #555;
	font-weight: bold;	
}
	
#mochaPage h3 {
	display: block;
	font-size: 12px;
	padding: 6px 0 6px 0;
	margin: 0 0 8px 0;
	border-bottom: 1px solid #bbb;
}

h4 {
	font-size: 11px;
}
	
a {
	color: #e60;
	text-decoration: none;
	cursor: pointer;
}

a:hover {
	text-decoration: none;
}
	
p {
	margin: 0;
	padding: 0 0 9px 0;
}
	
/* List Elements */

ul {
	list-style: outside;
	margin: 0 0 9px 16px;
}

dt {
	font-weight: bold;
	}
	
dd {
	padding: 0 0 9px 0;
}	

/* Code */
	
pre {
	background-color: #f6f6f6;
	color: #006600;
	display: block;
	font-family: 'Courier New', Courier, monospace;
	font-size: 11px;
	max-height: 250px;
	overflow: auto;
	margin: 0 0 10px 0;
	padding: 10px;
	border: 1px solid #d1d7dc;	
	}
	
/* Dividers */

hr {
	background-color: #ddd;
	color: #ccc;
	height: 1px;
	border: 0px;
}

/* CMS */

#table_headings {
	width:500px;
	background-color:#CBCBCB;
	border-bottom:3px solid #6C6C6C;
	padding-top:5px;
	height:25px;
	font-size: 11px;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	padding-left:5px;
}

#even_row {
	width:500px;
	background-color:#E0E0E0;
	font-size:11px;
	padding-left:5px;
	height:23px;
	border-bottom:1px solid #E0E0E0;
}

#odd_row {
	width:500px;
	background-color:#ffffff;
	font-size:11px;
	padding-left:5px;
	height:23px;
	border-bottom:1px solid #ffffff;
}

#name_column {
	float:left;
	height: 23px;
	text-align:left;
}

#column {
	text-align:left;
	height: 20px;
	padding-top: 3px;
	float:left;
}

#column_one {
	width:150px;
	text-align:left;
	height: 20px;
	padding-top: 3px;
	float:left;
}

#column_two {
	width:100px;
	text-align:left;
	height: 20px;
	padding-top: 3px;
	float:left;
}

.site_name {
	margin-top:5px;
	float:left;
	font-size: 14px;
	font-weight:bold;
}

.greeting {
	margin-top:6px;
	float:left;
	padding-left:10px;
}

.logout {
	float:right;
	margin-top:6px;
	padding-right: 30px;
}

#admincontent td{
	padding-top:3px;
	padding-bottom:3px;
	padding-left:3px;
}

.form_element {
	border: 1px solid #6C6C6C;
	font-size: 11px;
	color: #303030;
	padding: 3px;
	background-color: #ffffff;
}

input {
	border: 1px solid #6C6C6C;
	font-size: 11px;
	color: #303030;
	padding: 3px;
	background-color: #ffffff;
}

#refresh {
	width:500px;
	background-color:#ffffff;
	border-bottom:3px solid #6C6C6C;
	padding-top:5px;
	height:25px;
	font-size: 11px;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	padding-left:5px;
}

#delete_warning {
	color: #ff0000;
	font-size: 14px;
	font-weight: bold;
	text-align:center;
	margin-top: 10px;
}

tr.row1 {
	background-color: #eeeeee;
}

tr.row2 {
	background-color: #ffffff;
}

.menu_highlight {
font-weight:bold;
border-top:1px solid #EE6600;
border-bottom:1px solid #EE6600;
}

.memo_box {
	width:350px;
	border:1px dotted #ff0000; 
	color:#ff0000;
	font-size:13px;
	padding-bottom:5px;
	padding-top:5px;
	font-weight:bold;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:5px;
	margin-top:5px;
}
